

<div id="page-wrapper">
   
    <header id="header" class="header site-header clearfix" role="banner" aria-label="{{ 'Site header'|t }}">
      <div class="wrap clearfix">
        <div class="logo">
          <a href="/" title="Home">
            <img src="/themes/custom/artery/assets/images/logos/logo.png" title="Downtown Artery" alt="Downtown Artery"/>
          </a>
        </div>
        {{ page.header }}
      </div>
      
    </header>

    <main id="content" class="clearfix main-section ">
      <div class="wrap">
         {{ page.help }}
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
        {% if page.sidebar %}
          <div id="sidebar-second" class="column sidebar">
            <aside class="section" role="complementary">
              {{ page.sidebar }}
            </aside>
          </div>
        {% endif %}
      </div>
    </main>

    {% if page.postscript %}
      <div class="postscript">
          {{ page.postscript }}
      </div>
    {% endif %}

    <footer class="site-footer">
      <div class="wrap">
        {% if page.footer %}
            {{ page.footer }}
        {% endif %}
      </div>
    </footer>

</div>
